In [1]:
import pandas as pd

In [2]:
PATH_TO_TRAIN_FILE = "./msr_paraphrase_train.txt"
PATH_TO_TEST_FILE = "./msr_paraphrase_test.txt"

In [3]:
def preprocess(s):
    s = s.replace("``", '"')
    s = s.replace("''", '"')
    return s.strip()

def read_and_correct(FILE_PATH):
    lines = [line.rstrip("\n") for line in open(FILE_PATH)]
    # skip header
    lines = lines[1:]
    s1_list = []
    s2_list = []
    label_list = []
    for line in lines:
        label, id1, id2, s1, s2 = line.split("\t")
        assert len(s1) > 4 and len(s2) > 4
        s1_list.append(preprocess(s1))
        s2_list.append(preprocess(s2))
        label_list.append(int(label))
        df = pd.DataFrame(list(zip(s1_list, s2_list, label_list)),
                          columns =["s1", "s2", "label"])
    return df

In [4]:
df = read_and_correct(PATH_TO_TRAIN_FILE)
df.to_csv("./mrpc_train.csv")
df.tail()

,s1,s2,label
4071,"""At this point, Mr. Brando announced: 'Somebod...","Brando said that ""somebody ought to put a bull...",1
4072,"Martin, 58, will be freed today after serving ...",Martin served two thirds of a five-year senten...,0
4073,"""We have concluded that the outlook for price ...","In a statement, the ECB said the outlook for p...",1
4074,The notification was first reported Friday by ...,MSNBC.com first reported the CIA request on Fr...,1
4075,The 30-year bond US30YT=RR rose 22/32 for a yi...,The 30-year bond US30YT=RR grew 1-3/32 for a y...,0

In [5]:
df = read_and_correct(PATH_TO_TEST_FILE)
df.to_csv("./mrpc_test.csv")
df.tail()

,s1,s2,label
1720,"After Hughes refused to rehire Hernandez, he c...",Hernandez filed an Equal Employment Opportunit...,0
1721,There are 103 Democrats in the Assembly and 47...,Democrats dominate the Assembly while Republic...,0
1722,Bethany Hamilton remained in stable condition ...,"Bethany, who remained in stable condition afte...",0
1723,"Last week the power station’s US owners, AES C...","The news comes after Drax's American owner, AE...",1
1724,Sobig.F spreads when unsuspecting computer use...,The virus spreads when unsuspecting computer u...,1